<div id="articles">
    <h1>Conheça nossos artigos</h1>
    
    <% @articles.each do |article| %>

    <span class="label label-warning"><%= article.category%></span>
    <span class="label label-succes">
        <%= link_to article.title, controller: :blog, action: :article, id: article.id %></span><br>

    <%end%>
    
</div>
