<div class="container">
  
  <span class="label label-warning"><%= @article.category %></span>
  <h1><%= @article.title %></h1>
  <h4><%= @article.author %></h4>
 

  <div class="content">
    <%= @article.content %>
  </div>
    
</div>
